* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color:rgb(227,229,245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    text-align: center;
    background-color: rgb(255,255,255);
    background-size:auto;
    padding: 30px;
    border-radius: 25px;
}

.title{
    margin: 15px;
    font-family:Arial, Helvetica, sans-serif;


}
.subtitle{
    margin: 15px;
    font-weight: bold;
}
.social-login{
    margin: 15px;
    display: grid;
    grid-template-columns: 90% 20%;
    column-gap: 10px;
}
img{
    inline-size: 35px;
    margin: 10px;
    height: 25px;
    width: 25px;

}
.google-btn{
    display: flex;
    -ms-flex-align: center;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    border-color: gray;
    border-width: 1px;
    padding: 5px;
    padding-right: 20px;
    justify-content: center;

}
.fb-btn{
    background-color: rgb(255,255,255);
    border-radius: 10px;
    border-color: rgb(20, 105, 185);
    border-width: 3px;

}
.btn-text{
    float:right;
    font-weight: bold;
    margin-top: 20px;

}
.or{
    margin: 15px;
    border-bottom: 1px solid #888;
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-weight: bold;
    }

.or span{
    background: rgb(255,255,255);
    padding:0 10px;    
}
.email-login {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

label {
color: grey;
font-weight: bold;
display: flex;
justify-self: flex-start;
margin: 5px;
margin-left: 0px;
}

input {
    padding: 15px;
    border-radius: 10px;
    font-size: 10px;
    border: 1px solid grey;
}

.cta-btn{
    margin: 15px;
    padding: 15px;
    border: 2px solid rgb(70,68,182);
    background-color: rgb(70,68,182);
    color: white;
    border-radius: 10px;

}

form{
    display: flex;
    flex-direction: column;
}
.forget-pass{
    text-decoration: none;
}
